.card {
  text-align: center;
  padding: 1rem;
  background-color: $white;
  border-radius: 1.25rem;

  &__image {
    border-radius: 1.25rem;
    overflow: hidden;
    margin-bottom: 1.875rem;
    div {
      height: 18rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__title {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
  }

  &__description {
    font-size: 1rem;
    color: $grayishBlue;
  }
}
